/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; background-color: rgb(163, 114, 15)}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
button {
    display: block;
    width: 100%;
    padding: 12px 16px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    background-color: #000000;
    color: #fff;
    cursor: pointer;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
