<div class="div">
    <div class="form-container">
        <h1>Edit availability</h1>
        <form
        method="POST"
        [formGroup]="accResForm" 
        (ngSubmit)="edit()"
        >
        <label for="startDate">Select a Start Date:</label><br/>
        <input class="element" type="text" id="startDate" name="startDate" formControlName="startDate">
        <br>
        <label for="endDate">Select an End Date:</label><br/>
        <input class="element" type="text" id="endDate" name="endDate" formControlName="endDate">
        <br>
        <label for="deadline">Select a Deadline:</label><br/>
        <input class="element" type="text" id="deadline" name="deadline" formControlName="deadline">
        <br>
        <input type="radio" value="perGuest" id="priceType" name="priceType" formControlName="priceType"> Price per guest
        <br>
        <input type="radio" value="perAcc" id="priceType" name="priceType" formControlName="priceType"> Price per Accomodation
        <br><br>
        <label for="price">Price:</label><br/>
        <input class="element" type="number" id="price" name="price" placeholder="Price" formControlName="price">
        <br>
        <br>
        <button type="submit" (keydown.enter)="edit()">Edit information</button>
        </form>
    </div>

</div>
  